#container {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgb(125, 231, 158);
}

canvas {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 5px #ccc;
  margin: 0 auto;
  padding: 2px;
}
