@font-face {
  font-family: 'Myfont';
  src: url('/static/font/PixelMplus12-Regular.ttf') format('truetype');
}

.scroll {
  margin: auto;
  overflow-x: auto;
  white-space: nowrap;
  width: 500px;
}
.box {
  display: inline-block;
  height: 400px;
  width: 300px;
}
.green {
  background-color: #3cb371;
}
.orange {
  background-color: #ffbf7f;
}

.container {
  text-align: center;
  font-family: 'Myfont';
}

.btn-style1 {
  color: #333;
  text-decoration :none;
  background: #ffbf4b;
  transition: .4s;
  box-shadow: 10px 10px #fa190d;
}

.btn-style1:hover {
  color: #333;
  background: #ffa500;
	box-shadow: 0px 0px #fa190d;
}

.btn-style2 {
  color: #333;
  text-decoration :none;
  background: #ffbf4b;
  transition: .4s;
  box-shadow: 10px 10px #de0b4e;
}

.btn-style2:hover {
  color: #333;
  background: #ffa500;
	box-shadow: 0px 0px #de0b4e;
}

.btn-style3 {
  color: #333;
  text-decoration :none;
  background: #ffbf4b;
  transition: .4s;
  box-shadow: 10px 10px #f500c7;
}

.btn-style3:hover {
  color: #333;
  background: #ffa500;
	box-shadow: 0px 0px #f500c7;
}

.btn-style4 {
  color: #333;
  text-decoration :none;
  background: #ffbf4b;
  transition: .4s;
	box-shadow: 10px 10px #b90bde;
}

.btn-style4:hover {
  color: #333;
  background: #ffa500;
	box-shadow: 0px 0px #b90bde;
}

.btn-style5 {
  color: #333;
  text-decoration :none;
  background: #ffbf4b;
  transition: .4s;
  box-shadow: 10px 10px #900dfa;
}

.btn-style5:hover {
  color: #333;
  background: #ffa500;
	box-shadow: 0px 0px #900dfa;
}




/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #1a1837; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }