.scroll {
  margin: auto;
  overflow-x: auto;
  white-space: nowrap;
  width: 500px;
}
.box {
  display: inline-block;
  height: 400px;
  width: 300px;
}
.green {
  background-color: #3cb371;
}
.orange {
  background-color: #ffbf7f;
}

.container {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
}

.link {
  padding: 0 10px;
}

.container {
  width: 100%;
  height: 32.6vw;
  background: url('https://raw.githubusercontent.com/Yousuke777/bg/main/sample-bg.png') repeat-x;
  background-size: 50%;
  animation: scroll-anim 5s linear infinite;
}

@keyframes scroll-anim {
  100% {
    background-position: -100% 0;
  }
}

